<div class="container" id="home">
    <div class="row mt-5">
        <div class="col-12">
            <h1 class="h5 pt-3">
                Politique de confidentialité
            </h1>
            <div>
                <strong>Makity Fan</strong> est crée par <a href="https://stardevcgroup.com/">Star Dev Cloud Group</a>
                un groupe de jeunes guinéens technocrates. <br>
                Les services sur ce site sont fournis par ses jeunes engangés 
                qui offriront une gamme de services courants à la population guinéenne tels que:
                <ul>
                    <li>ventes des objets occasions et nouveaux</li>
                    <li>Ventes et locations des bien immobiliers(Terrains, maision, ...)</li>
                    <li>création des boutiques en lignes à la demande des commerçant(e)s</li>
                </ul>
            </div>
            <div>
                <strong>Makity Fan</strong> respecte votre vie privée et travaille avec des mesures de sécurité technologiques 
                et organisationnelles pour s’assurer que votre vie privée est préservée.<br>
                 <strong>Makity Fan</strong> traite vos données personnelles conformément aux lois en matière 
                 de protection des données et de confidentialité. <br>
                 Cette Politique de confidentialité explique comment et pourquoi nous recueillons et utilisons les informations sur nos utilisateurs et la façon dont nous gérons la protection de la vie privée.
            </div>
            <br>
            <div>
                Selon les Conditions d'Utilisation, vous pouvez rester connecté avec votre compte et passer d’un service à l’autre sans avoir besoin de vous connecter à nouveau (auto-login). <br>
                Pour que cela se produise, vous acceptez de rester automatiquement connecté lors du passage entre les services. <br>
                La connexion automatique signifie que si vous êtes connecté à votre compte de Paiement et Identité Makity Fan, lorsque vous visitez un nouveau service que vous n’avez pas déjà visité ou utilisé, vous serez automatiquement connecté au service avec votre compte. Veuillez noter que des Politiques de confidentialité et des cookies spécifiques s'appliquent à certains des différents services et qu’en utilisant les services, vous les acceptez.
            </div>
            <br>
            <div>
                <h3 class="h6">Concepts clés</h3>
                <li>
                    <strong>Les Données personnelles</strong>:<br> 
                    <ul>
                        <li>signifient des informations qui peuvent être directement ou indirectement être liées à une personne physique et vivante.<br>
                        Des exemples de données personnelles comprennent <strong>le nom</strong>, <strong>l'adresse</strong>, <strong>le numéro de téléphone</strong> et <strong>l'adresse e-mail</strong>. 
                        </li>
                        <li>
                        Dans certaines circonstances, les informations sur les adresses IP et votre comportement en tant qu'utilisateur lors de l'utilisation des services peuvent également constituer des données personnelles.<br>
                        </li>
                    </ul>
                </li>
                <li>
                    <strong>Le Traitement</strong><br> 
                    <ul>
                        <li>
                            Le Traitement des données personnelles couvre toute utilisation des données personnelles, telles que la collecte, l'échange et le stockage.
                        </li>
                    </ul>
                </li>

                <li>
                    <strong>Le Contrôleur</strong><br> 
                    <ul>
                        <li>
                            Le Contrôleur des données personnelles est l’entité qui, seule ou avec une autre partie, décide des fins et des moyens de traitement des données personnelles et qui est responsable de veiller à ce que le traitement se déroule conformément à la législation des données personnelles applicables.
                        </li>
                    </ul>
                </li>

                <li>
                    <strong>Le Compte</strong><br>
                    <ul>
                        <li>
                            Le Compte signifie votre compte personnel avec Makity Fan. Le compte vous permet de vous connecter en utilisant les mêmes informations de connexion pour tous les services, de rester connecté à votre compte, et se déplacer entre les services sans avoir besoin de vous connecter à nouveau lorsque vous visitez un nouveau service.
                        </li>
                    </ul>
                </li>

                <li>
                    <strong>Les Services</strong><br>
                    <ul>
                        <li>
                            Les Services (un « Service » chacun individuellement) signifient les services <a href="https://stardevcgroup.com">https://stardevcgroup.com</a> et les autres services liés à votre compte.
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</div>
<!-- Back to top -->
<a class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top"
[ngxScrollTo]="'#home'">
<i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->