.taille-card {
    height: 500px;
    margin-bottom: 10px;
    padding: 2px;
}

.rond{
    margin-top: 2px;
    border-radius: 6px;
}

 .btn-facebook {
    background-color: #3B5998;
    display: inline-block;
    width: 100%;
    color: floralwhite;
    margin: 0px auto;
  }

  .btn-google {
    background-color: #DD4B37;
    display: inline-block;
    width: 100%;
    color: floralwhite;
    margin: 0px auto;
  }

