  <!-- Team Start -->
  <section class="section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="section-title mb-4 pb-2">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <img src="assets/business2.jpg" class="img-fluid d-block mx-auto" alt="">
                </div>
                <p class="text-muted  para-desc  col-sm-12 col-md-6"><span
                  class="text-primary font-weight-bold"><a href="https://ma.stardevcgroup.com/" target="__blank">MakityFan</a></span> 
                  , trouvez la bonne affaire sur le site référent de petites annonces de particulier à particulier et de professionnels. Avec des millions de petites annonces, trouvez la bonne occasion dans nos catégories voiture, immobilier, emploi, vêtements, meubles, services, téléphonie et informatique, etc… 
                  Déposez une annonce gratuite en toute simplicité pour vendre, rechercher, donner vos biens de seconde main ou promouvoir vos services.
                  Echangez en toute facilité avec les annonceurs.
                  Nous proposons aussi un système de paiement d'orange money pour les boutiques.
              </div>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
  
      <div class="row">
        <div class="col-12 col-sm-4">
            <a  class="btn btn-primary mb-1">Contact de la boîte</a>
            <ul class="list-unstyled text-muted ml-2">
              <li class="mb-0"><span class="text-primary h5 mr-2 ml-1"><i class="fa fa-envelope text-primary"></i></span> stardevcgroup@gmail.com</li>
              <li class="mb-0"><span class="text-primary h5 mr-2 ml-1"><i class="fa fa-phone text-primary"></i></span>  (+216) 56 352 275</li>
              <li class="mb-0"><span class="text-primary h5 mr-2 ml-1"><i class="fa fa-globe text-primary"></i></span>  <a href="https://stardevcgroup.com/" target="__blank">https://stardevcgroup.com</a></li>
            </ul>
        </div>
        <div class="col-12 col-sm-8">
          <div class="card team text-center bg-transparent border-0">
            <div class="card-body p-0">
              <div class="position-relative">
                <img src="assets/logo/lg2.png" class="img-fluid avatar avatar-ex-large rounded-circle" alt="">
                <ul class="list-unstyled social-icon team-icon mb-0 mt-4">
                  <li class="list-inline-item">
                    <a href="https://www.facebook.com/Stardevcgroup-101730058782988" 
                    class="rounded"
                    target="__blank"
                    >
                      <i-feather name="facebook" class="fea icon-sm fea-social"></i-feather>
                    </a></li>
                  
                  <li class="list-inline-item ml-1">
                    <a href="https://www.linkedin.com/in/star-dev-cloud-group-808779212/" 
                    class="rounded"
                    target="__blank"
                    >
                      <i-feather name="linkedin" class="fea icon-sm fea-social"></i-feather>
                    </a></li>
                    <li class="list-inline-item ml-1">
                      <a href="https://stardevcgroup.com/" class="rounded"
                      target="__blank"
                      >
                        <i-feather name="globe" class="fea icon-sm fea-social"></i-feather>
                      </a></li>
                </ul>

                
                <!--end icon-->
              </div>
              <div class="content">
                <h5 class="mb-0"><a class="name text-dark">Star Dev Cloud Group</a></h5>
                <small class="designation text-muted">Groupe</small>
              </div>
            </div>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
    <!--end container-->
  </section>
  <!--end section-->
  <!-- Team End -->
  
  
  <!-- Back to top -->
  <a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top"
    [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
  </a>
  <!-- Back to top -->
  