  <!-- Start -->
  <section >
    <div class="container">
      
      <div class="row mb-2">
        <div class="col-12">
          <div class="table-responsive bg-white shadow">
            <table class="table table-center table-padding mb-0">
              <thead>
                <tr>
                  <th class="py-3" style="min-width:20px "></th>
                  <th class="py-3" style="min-width: 300px;">Produit</th>
                  <th></th>
                  <th class="text-center py-3" style="min-width: 160px;">Prix</th>
                  <th class="text-center py-3" style="min-width: 160px;">Quantité</th>
                  <th class="text-center py-3" style="min-width: 160px;">Total</th>
                  <th>Action</th>
                </tr>
              </thead>
  
              <tbody *ngIf="panier">
                <tr *ngFor="let item of panier.ligneCommandes">
                  <td class="h6"><a  class="text-danger" (click)="deletLigneCommandePanier(item)">X</a></td>
                  <td [routerLink]="['/produits', item.produit._id]">
                    <div class="d-flex align-items-center">
                      <img src="{{baseURL + item.produit?.images[0]}}" class="img-fluid avatar avatar-small rounded shadow" style="height:auto;"
                        alt="">
                      <h6 class="mb-0 ml-3">{{item.produit?.designation}}</h6>&nbsp;&nbsp;&nbsp;
                    </div>
                  </td>
                  <td>
                    <!--input type="checkbox" [hidden]="item.produit?.boutique == null" name="valeur" [(ngModel)]="item.commander" id=""-->
                  </td>
                  <td class="text-center"> {{item.produit?.prix}} GNF</td>
                  <td class="text-center">
                    <input [disabled]="item.quantite<=1" type="button" value="-" class="minus btn btn-icon btn-soft-primary font-weight-bold ml-1"
                      (click)="decrement(item)">
                    <input type="text" step="1" min="1" name="quantity" value="2" title="Qty" [(ngModel)]="item.quantite"
                      class="btn btn-icon btn-soft-primary font-weight-bold ml-1">
                    <input [disabled]="item.produit.quantite<=0"  type="button" value="+" class="plus btn btn-icon btn-soft-primary font-weight-bold ml-1"
                      (click)="increase(item.produit, item)">
                  </td>
                  <td class="text-center font-weight-bold">{{item.quantite * item.produit?.prix}} GNF</td>
                  <td>
                    <button class="btn coleur" (click)="commander(item)" *ngIf="item.commander==false"> <i class="fa fa-credit-card"></i> Commander</button>
                    <button class="btn btn-warning" (click)="annuler(item)" *ngIf="item.commander==true"> <i class="fas fa-window-close"></i> Annuler</button>
                  </td>
                </tr>
  
              </tbody>
            </table>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
      <div class="row mb-3">
        <!--div class="col-lg-8 col-md-6 pt-2">
          <button class="btn coleur" (click)="openDialog(panier)"> <i class="fa fa-credit-card"></i> Commander</button>
          
        </!--div-->
        <div class="col-lg-4 col-md-6 ml-auto pt-2">
          <div class="table-responsive bg-white rounded shadow">
            <table class="table table-center table-padding mb-0">
              <tbody>
                <!--tr>
                  <td class="h6">Sous Tataux</td>
                  <td class="text-center font-weight-bold">{{sousTaux}} GNF</td>
                </-tr-->
                <!--tr>
                  <td class="h6">Taxes</td>
                  <td class="text-center font-weight-bold"> {{tva}} GNF</td>
                </!--tr-->
                <tr class="bg-light">
                  <td class="h6">Total</td>
                  <td class="text-center font-weight-bold">{{totaux}} GNF</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!--end section-->
  <!-- End -->
  
  
  <!-- Back to top -->
  <a class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top"
    [ngxScrollTo]="'#home'">
    <i-feather name="arrow-up" class="icons"></i-feather>
  </a>
  <!-- Back to top -->
  