<div class="back-to-home rounded d-none d-sm-block">
    <a routerLink="/index" class="btn btn-icon btn-soft-warning">
      <i-feather name="home" class="icons"></i-feather>
    </a>
  </div>
  <!-- Hero Start -->
  <section class="bg-home">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 mt-1">
          <div class="card login-page bg-white shadow rounded border-0 taille-card">
            <div class="card-body">
              <form class="login-form mt-0" [formGroup]="compteForm" #fform="ngForm" (ngSubmit)="onSubmit()">
                <div class="row">

                <div class="col-12 col-sm-6 m-0">
                    <div class="form-group">
                        <div class="col-12" style="color:red" *ngIf="compteForm.get('password') && formErrors.password">
                            {{formErrors.password}}</div>
                      <label>Nouveau mot de passe <span class="text-danger">*</span></label>
                      <i-feather *ngIf="afficherPassword==false" (click)="afficherMotDePasse()" name="eye-off" class="fea icon-sm icons"></i-feather>
                      <i-feather *ngIf="afficherPassword==true"  (click)="masquerMotDePasse()" name="eye" class="fea icon-sm icons"></i-feather>
                      <input [type]="afficherPassword?'password':'text'" formControlName="password" class="form-control pl-5" placeholder="Mot de passe" required="">
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 m-0">
                    <div class="form-group">
                        <div class="col-12" style="color:red" *ngIf="compteForm.get('confirmPassword').hasError('matching')">
                            {{'La confirmation doit être conforme au mot de passe'}}</div>
                      <label>La confirmation du mot de passe <span class="text-danger">*</span></label>
                      <i-feather *ngIf="afficherPassword==false" (click)="afficherMotDePasse()" name="eye-off" class="fea icon-sm icons"></i-feather>
                      <i-feather *ngIf="afficherPassword==true"  (click)="masquerMotDePasse()" name="eye" class="fea icon-sm icons"></i-feather>
                      <input [type]="afficherPassword?'password':'text'" formControlName="confirmPassword" class="form-control pl-5" placeholder="Confirmation" required="">
                    </div>
                  </div>
                  
                  <div class="col-12 mb-0">
                    <button class="btn btn-warning btn-block" [disabled]="compteForm.invalid">Soumettre</button>
                  </div>
                  <div class="col-12 text-center">
                    <p class="mb-0 mt-1 mb-3"><small class="text-dark mr-2">Si vous vous rappelez de votre mot de passe !</small> <a
                        routerLink="/login" class="font-weight-bold text-warning">Login</a></p>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!---->
        </div>
        <!--end col-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </section>
  <!--end section-->
  <!-- Hero End -->
  